<ngb-pagination [collectionSize]="data.length" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
    (pageChange)="onPageChanged()" maxSize="10" rotate="true"></ngb-pagination>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Expand</th>
      <th scope="col" (click)="sortColumn('id')">#</th>
      <th scope="col" (click)="sortColumn('name')">Name</th>
      <th scope="col" (click)="sortColumn('gender')">Gender</th>
      <th scope="col" (click)="sortColumn('age')">Age</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="rows">
    <tr>
      <th scope="row" (click)="toggleRow(row)">{{ row.isExpanded ? '-' : '+' }}</th>
      <td>{{ row.id }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.gender }}</td>
      <td>{{ row.age }}</td>
    </tr>
    <tr [ngbCollapse]="!row.isExpanded">
      <td colspan="5">
        <h4>Address</h4>
        <p>{{ row.address.city }}, {{ row.address.state }}</p>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
